spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: product-service
              uri: lb://product-service
              predicates:
                - Path=/products/**
              filters:
                - JwtAuth

            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/auth/**

            - id: cart-service
              uri: lb://cart-service
              predicates:
                - Path=/cart/**
              filters:
                  - JwtAuth
                  -
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/order/**
              filters:
                - JwtAuth

security:
  roles:
    ADMIN:
      - path: /**
        methods: [GET, POST, PUT, DELETE]

    USER:
      - path: /products/*
        methods: [GET]
      - path: /cart/**
        methods: [GET,POST,PUT,DELETE]
      - path: /order/**
        methods: [GET,POST,PUT,DELETE]

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

