spring:
  application:
    name: user-service

  datasource:
    url:  jdbc:mysql://localhost:3306/shaa_jewels_db
    username: root
    password: 2465
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernates:
          format_sql: true
          dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8084
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
